@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/*Criação de variáveis*/ 
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #9C5EF4;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif; 
}

* { /*Seleciona todos os elementos/RESET CSS*/
    margin: 0;
    padding: 0;
}


body { /*Seletor*/
    /* height: 100vh; */ 
    box-sizing: border-box;
    background-color: var(--cor-primaria); /*Declaração(Propriedade: Valor)*/
    color: var(--cor-secundaria); 
}


.cabecalho {
    padding: 2% 0% 0% 15% ; /* CIMA DIREITA BAIXO ESQUERDA*/
}

.cabecalho__menu {
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 82px;
   
}

.apresentacao__conteudo {
    width: 50%; 
    display: flex;   
    flex-direction: column;
    gap: 40px;
    
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem; /*1rem = 16px*/
    font-family: var(--fonte-primaria);  
    font-weight: 400;  
}

.destaque-titulo { /*Para que seja possível alterar somente uma parte utilizamos classes*/
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    align-items: center;
    gap: 32px
}

.apresentacao__conteudo__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__conteudo__links__botao {  
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;  
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 21.5px 0; /* Primeiro valor é pro padding vertical, segundo para o horizontal */
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--fonte-secundaria); 
    
}

.apresentacao__conteudo__links__botao:hover { /*Hover: quando o mouse passa por cima*/
    background-color: var(--cor-hover);
    transition-delay: 0.1s;
    transform: scale(1.05);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;   
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }    
 
    .apresentacao__conteudo {
        width: auto;
    }
}

.destaque-email {
    color: #EF8354;
    text-decoration: none;
    font-weight: 600;
}